#area-geral {
	background-color: #f1f7e3;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#caixa {
	background-color: red;
	width: 1080px;
	height: 700;
	position: absolute;
	top: 86px;
	left: 107px;
}

#cabecalho {background-color:#0c6638;width:1080px;height:100px;position:absolute;top:0px;left:0px;float:left;}

#home {width:330px;height:100px;position:absolute;top:0px;left:0px;float:left;}
#twitter {width:300px;height:100px;position:absolute;top:0px;left:180px;float:left;}
#facebook {width:300px;height:100px;position:absolute;top:0px;left:330px;float:left;}
#linkedin {width:300px;height:100px;position:absolute;top:0px;left:480px;float:left;}
#tumblr {width:300px;height:100px;position:absolute;top:0px;left:630px;float:left;}
#google-plus {width:300px;height:100px;position:absolute;top:0px;left:780px;float:left;}
#mapa {width:300px;height:100px;position:absolute;top:1px;left:782px;float:left;}

#menu-lateral {
	background-color: #f1f7e3;
	width: 170px;
	height: 490px;
	position: absolute;
	top: 100px;
	left: 0px;
	float: left;
}

#quem-somos{width:180px;height:98px;position:absolute;top:0px;left:0px;float:left;}

#rodape {
	background-image: url(imagens/redes_sociais/rodape.png);
	width: 899px;
	height: 150px;
	position: absolute;
	top: 490px;
	right: 0px;
	float: left;
}

/*---------------------------------------------------*/

#rodape-localizacao {
	background-color:transparent;
	width: 350px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 192px;
	font-size:11px;
	font-family:verdana;
	font-weight:bold;
	text-align:left;
	text-indent:10px;
	color:#FFF;
	line-height:2px;
	}

#rodape-contato {
	background-color:transparent;
	width: 350px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 568px;
	font-size:11px;
	font-family:verdana;
	font-weight:bold;
	text-align:left;
	text-indent:10px;
	color:#00F;
	line-height:2px;
	}

#rodape-contato a {
	text-decoration:none;
	color:#48c7ec;
	font-weight:bold;
	font-style:italic;
	}
	
#rodape-contato a:hover {
	text-decoration:underline;
	color:#48c7ec;
	font-weight:bold;
	}