/*1080px de largura será dividido em 7 seções cada área terá 154 
cor redes sociais sem focalização - #0c6638  78px*/

body {
	background-color:#f1f7e3;
	margin:0px;
}

p {
	color:#00385c;
	font-family:Century Gothic,Arial,Verdana,Calibre,Courier New,sans-serif;
	font-size:15px;
	text-align:justify;
}

h1 {
	text-transform:uppercase;
	color:#00385c;
	font-family:Arial Black, Arial,Verdana,Courier New, sans-serif;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	line-height:60px;
}

h2 {
	text-transform:uppercase;
	color:#00385c;
	font-family:Arial Black, Arial,Verdana,Courier New, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	line-height:0px;
	text-indent:15px;
}

h3 {
	text-transform:capitalize;
	color:#3395b2;
	font-family:Century Gothic,Verdana,Courier New, sans-serif;
	font-size:13px;
	font-style:italic;
	text-align:left;
	line-height:10px;
	text-indent:15px;
}

/* Seleção para Firefox */
*::-moz-selection	{
	background:#44c7ee;
	color:#00385c;
}

/* Seleção para Internet Explorer e Google Chrome */
*::selection	{
	background:#44c7ee;
	color:#00385c;
}

#area-geral {
	background-color:#f1f7e3;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}

#espaco {
	background-color: #6FC;
	width: 1080px;
	height: 630px;
	position: absolute;
	top: 50%;
	margin-top:-295px;
	left: 50%;
	margin-left:-540px;
}

#cabecalho {
	background-color:#0c6638;
	width: 1080px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	float:left;
}

#home {
	border:0;
	width:330px;
	height:100px;
	float:left;
	position:absolute;
	top:0px;
	left:0px;
}

#twitter {
	border:0;
	width:300px;
	height:100px;
	float:left;
	position:absolute;
	top:0px;
	left:180px;
}

#facebook {
	border:0;
	width:300px;
	height:100px;
	float:left;
	position:absolute;
	top:0px;
	left:330px;
}

#linkedin {
	border:0;
	width:300px;
	height:100px;
	float:left;
	position:absolute;
	top:0px;
	left:480px;
}

#tumblr {
	border:0;
	width:300px;
	height:100px;
	float:left;
	position:absolute;
	top:0px;
	left:630px;
}

#google-plus {
	border:0;
	width:300px;
	height:100px;
	float:left;
	position:absolute;
	top:0px;
	left:780px;
}

#mapa {
	border:0;
	width:150px;
	height:100px;
	float:left;
	position:absolute;
	top:1px;
	left:931px;
}

#corpo {
	background-color: #f1f7e3;
	width: 900px;
	height: 380px;
	position: absolute;
	top: 100px;
	left: 180px;
	float: left;
	}

#menu-lateral {
	background-color: #f1f7e3;
	width: 180px;
	height: 380px;
	position: absolute;
	top: 0px;
	left: -180px;
	float: left;
}

#quem-somos {
	border:0;
	background-color:transparent;
	width: 180px;
	height: 76px;
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
}

#clientes {
	border: 0;
	background-color:transparent;
	width: 180px;
	height: 76px;
	position: absolute;
	top: 76px;
	left: 0px;
	float: left;
}

#solucoes {
	border: 0;
	background-color:transparent;
	width: 180px;
	height: 76px;
	position: absolute;
	top: 152px;
	left: 0px;
	float: left;
}

#equipe {
	border: 0;
	background-color:transparent;
	width: 180px;
	height: 76px;
	position: absolute;
	top: 228px;
	left: 0px;
	float: left;
}

#trabalhe-conosco {
	border: 0;
	background-color:transparent;
	width: 180px;
	height: 76px;
	position: absolute;
	top: 304px;
	left: 0px;
	float: left;
}

#painel {
	background-color: #f1f7e3;
	width: 751px;
	height: 380px;
	position: absolute;
	top: 1px;
	left: 182px;
	float: left;
}

#img-solucao1 {
	border: 0;
	border-style: solid;
	border-width: 2px;
	border-color: #0c6638;
	background-color: transparent;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 31px;
	top: 80px;
}

#descricao-solucao1 {
	border-style: none;
	border-width: none;
	border-color: none;
	background-color: transparent;
	width: 416px;
	height: 361px;
	position: absolute;
	left: 279px;
	top: 7px;
	text-indent: 20px;
}

#grupo-parceiros {
	border-style:solid;
	border-width:2px;
	border-color:#0c6638;
	background-color: transparent;
	width: 400px;
	height: 300px;
	position: absolute;
	left: 201px;
	top: 38px;
	float: left;
}

.parceiro {
	width: 100px;
	height: 100px;
	float: left;
}

#text-box {
	text-indent:20px;
	position: absolute;
	width: 626px;
	height: 351px;
	z-index: 1;
	left: 55px;
	top: 16px;
}

#assinatura {
	text-align:right;
}

#assinatura a{
	color: #0a395d;
	text-align:right;
}

#assinatura a:hover {
	color: #44c7ee;
	text-align:right;
	text-decoration:none;
}

.time {
	background-color: transparent;
	width: 630px;
	height: 76px;
	position: absolute;
	float: left;
	left: 50px;
}

#integrante1 {
	top: 28px;
}

#integrante2 {
	top: 106px;
}

#integrante3 {
	top: 184px;
}

#integrante4 {
	top: 263px;
}

.integrante-dados {
	background-color: transparent;
	width: 500px;
	height: 60px;
	position: absolute;
	top: 8px;
	left: 99px;
	float: left;
}

.avatar {
	border: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #0c6638;
}

#rota {
	border-style:solid;
	border-width:2px;
	border-color:#0c6638;
	background-color: transparent;
	width: 350px;
	height: 350px;
	position: absolute;
	top: 13px;
	left: 232px;
	}

#informacoes {
	background-color: transparent;
	width: 633px;
	height: 255px;
	position: absolute;
	top: 110px;
	left: 110px;
	float:left;
	}

#curriculo {
	border-style:solid;
	border-width:2px;
	border-color:#0c6638;
	background-color: #f1f7e3;
	width: 600px;
	height: 350px;
	position: absolute;
	top: 12px;
	left: 80px;
	float: left;
}

#rodape {
	background-image: url(imagens/rodape.png);
	width: 1080px;
	height: 150px;
	position: absolute;
	top: 380px;
	left: -180px;
}

.rotulo {
	color:#CCC;
	font-weight:bold;
}

.final {
	color:green;
	line-height:0xp;
	font-size:11px;
	font-family:verdana;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-indent:10px;
	color:#3395b2;
	line-height:2px;
}

#rodape-localizacao {
	background-color:transparent;
	width: 350px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 192px;
}

#rodape-contato {
	background-color:transparent;
	width: 350px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 568px;
}

#rodape-contato a {
	text-decoration:none;
	color:#48c7ec;
	font-weight:bold;
	font-style:italic;
}

#rodape-contato a:hover {
	text-decoration:underline;
}